f90nml
mkdocs
mkdocs-material
mkdocs-click
mkdocstrings[python]
numpy
pydantic
scipy
typing-extensions
tqdm
ruamel.yaml
pydantic-yaml @ https://github.com/v1kko/pydantic-yaml/archive/yaml_commented.zip
