coverage
f90nml
mkdocs
mkdocs-click
mkdocs-material
mkdocstrings[python]
mkdocs-gen-files
numpy
pandas
pydantic
pydantic-yaml @ https://github.com/v1kko/pydantic-yaml/archive/for_duqtools.zip
ruamel.yaml
scipy
tqdm
typing-extensions
